.header {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}
.body {
  background-color: pink;
}
.about-me {
  display: flex;
  flex-direction: column;
  color: green;
}
.nav {
  .nav-links {
    color: purple;
    /* flex-direction: row; */
  }
}
.ul {
  display: flex;
  justify-content: space-evenly;
  gap: 20%;
  .flex-item {
    /* width: 100%; */
    flex-wrap: wrap;
    flex-basis: auto;
  }

  /* width: calc(25% -50px); */
}

.nav-links {
  display: flex;
  flex-direction: row;
}
