/* header, body, nav links, footer, list properties  */

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5% 5% 2.5% 2.5%;
  align-items: center;
  #lawrenzoName,
  #welcome {
    display: flex;
    justify-content: center;
    padding: 5%;
    color: red;
    border-style: solid;
    width: 50%;
  }
  .profile-pic {
    justify-content: center;
  }
  border-style: dashed;
  border-width: 5px;
  border-color: black;
}

.nav {
  display: flex;
  flex-direction: row;
  border-style: solid;
  /* color: blue; */
  /* width: 95%; */
  /* height: 100%; */
  align-items: center;
  /* justify-content: space-evenly; */
  justify-content: center;
  background-color: purple;
  margin: 5% 5% 2.5% 2.5%;
  /* margin:0%; */
  border: 0%;
  padding: 0%;

  /* justify-content: center; */
  /* align-items: center;  */
  /* margin: 5%, 5%, 5%, 5%; */

  .nav-links {
    display: flex;
    /* flex-direction: column; */
    background-color: white;
    justify-content: space-around;
    align-items: center;
    /* white box  */
    margin: 5%;
    border: 0%;
    padding: 0%;
    /* width: 95%; */
    /* height:50%; */
    .ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      background-color: blue;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0;
      margin: 5% 5% 2.5% 2.5%;

      /* margin: 50%; */
      border: 0%;
      padding: 0%;
      /* li { */
      /* margin: 5% 5% 2.5% 2.5%; */
      justify-content: space-evenly;
      align-items: center;
      /* flex-wrap:wrap; */

      a {
        /* display: flex; */
        white-space: nowrap;
        background-color: green;
        /* align-items: center; */
        /* justify-content: space-evenly; */
        list-style-type: none;
        margin: 0%;
        border: 0%;
        padding: 20%;
        text-decoration: none;
        border-style: dotted;
        /* margin: 2%; */
        /* padding: 5%; */
        flex-wrap: nowrap;
        /* height:%; */
        width: 90%;
        height: 90%;
      }
    }
  }
}
/*this contained the links*/
/*.ul {
  /* display: flex; */
/* justify-content: space-evenly; */
/* list-style-type: none; */
/* width: 100%; */
/* border-style: solid; */
/* padding: 5%; */

/* display flex, justify content space between, align items center
  /* can insert some design here to draw attention to the links */
/* background-color: purple; */

/* .nav-links a {
  display: flex;
  color: green;} */
/* justify-content: space-evenly; */
/*do divs around the lis and style that div, treat it like a box*/

.hero {
  display: flex;
  margin: 5% 5% 2.5% 2.5%;
  align-items: center;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  justify-content: center;
  .center-align {
    text-align: center;
  }
}

.footer {
  display: flex;
  margin: 5% 5% 2.5% 2.5%;
  align-items: center;

  /* gap: 15%; */
  /* padding: 500%; */
  border-style: solid;
  border-width: 5px;
  border-color: black;
  justify-content: space-evenly;
  #github {
    background-color: green;

    /* margin-top: 0%;
    margin-bottom: 0%; */
  }
  #linkedIn {
    background-color: green;
    text-decoration: none;
  }
  #contact-link {
    background-color: green;
  }
  #copyright {
    display: flex;
    font-size: 10px;
    color: purple;
    justify-content: flex-start;
    align-self: flex-end;
    border-style: solid;
    border-width: 3px;
    border-color: black;
  }
}
