/* header, body, nav links, footer, list properties  */

.header {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}
.body {
  background-color: pink;
  margin: 10%;
}

.nav {
  .nav-links {
    color: purple;
    /* flex-direction: row; */
    border-style: solid;
    border-color: blue;
    margin: 3%;
    .ul {
      display: flex;
      /* justify-content: space-evenly; */
      /* gap: 20%; */
      justify-content: space-evenly;
      a {
        text-decoration: none;
      }
    }
  }
}

.ul:hover {
  color: teal;
}
a:hover {
  color: teal;
}
.footer {
  display: flex;
  /* gap: 15%; */
  /* padding: 500%; */
  border-style: solid;
  border-width: 5px;
  border-color: black;
  justify-content: space-evenly;
  #github {
    background-color: green;

    /* margin-top: 0%;
    margin-bottom: 0%; */
  }
  #linkedIn {
    background-color: green;
    text-decoration: none;
  }
  #contact-link {
    background-color: green;
  }
  #copyright {
    display: flex;
    font-size: 10px;
    color: purple;
    justify-content: flex-start;
    align-self: flex-end;
    border-style: solid;
    border-width: 3px;
    border-color: black;
  }
}

/* Responsive Design */
/* mobile phone */
@media screen and (max-width: 449px) and (min-width: 100px) {
  .body {
    /* background-color: aqua; */
  }
}
/* tablet  */
@media screen and (min-width: 450px) and (max-width: 1030px) {
  .body {
    /* background-color: wheat; */
  }
}

/* laptop  */
@media screen and (min-width: 1031px) {
  .body {
    /* background-color: yellowgreen; */
  }
}
