/* About me, hero, contact me, projects */

.hero {
  display: flex;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  justify-content: center;
}

.about-me {
  display: flex;
  border-style: dotted;
  border-width: 5px;
  border-color: black;
  flex-direction: column;
  color: green;
}

.projects {
  display: flex;
  /* justify-content: center; */
  flex-direction: row-reverse;
  #projectTitle {
    display: flex;
    justify-content: center;
  }

  #project1,
  #project2,x
  #project3 {
    display: flex;
    border-style: dotted;
    flex-direction: column;
    justify-content: center;
    a {
      display: flex;
      text-decoration: none;
      justify-content: center;
    }
    p {
      display: flex;
      justify-content: center;
    }
  }
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  padding: 10%;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  flex: 0 0 auto;
  input:focus {
    background-color: lightblue;
    color: blue;
  }

  #contact-submit {
    align-items: center;
    flex-direction: column;
    padding: 2%;
  }
}
#submit {
  display: flex;
  background-color: blue;
  color: white;
  justify-content: center;
  cursor: pointer;
}
#submit:hover {
  background-color: red;
}
