.about-me {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.hero {
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.contact-me {
  display: flex;
  flex-direction: row;
  padding: 1%;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}
.footer {
  display: flex;
  gap: 15%;
  padding: 1%;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}
