.about-me {
  display: flex;
  border-style: dotted;
  margin: 5% 5% 2.5% 2.5%;
  align-items: center;
  border-width: 5px;
  border-color: black;
  flex-direction: column;
  .section-header {
    display: flex;
    justify-content: center;
  }
  p {
    display: flex;
    justify-content: center;
  }
  color: green;
  .center-align {
    text-align: center;
  }
}
