.about-me {
  display: flex;
  border-style: dashed;
  border-radius: 15px;

  margin: 5% 2.5% 5% 2.5%;
  align-items: center;
  border-width: 5px;
  border-color: #2c2d2d;
  flex-direction: column;
  background: radial-gradient(#d9c3d7, #afdbf5);

  .section-header {
    display: flex;
    justify-content: center;
  }
  p {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }
  color: #2c2d2d;
  .center-align {
    text-align: center;
  }
}
