/* Responsive Design */
/* mobile phone */
@media screen and (max-width: 449px) and (min-width: 100px) {
  .body {
    /* background-color: aqua; */
  }
  .nav,
  .nav-links,
  .ul {
    margin: 0%;
    padding: 0%;
  }
  .nav .nav-links .ul {
    flex-direction: column;
    /* background-color: brown; */

    a {
      background: linear-gradient(45deg, #ffb7c5, #d7ffab);
      /* padding: 10%; */
      margin: 0%;
      padding: 0%;
      justify-content: center;
      align-items: center;
    }
  }
  .footer {
    .a {
      #github,
      #linkedIn,
      #contact-link {
        display: flex;
        /* font-size: 2px; */
        padding: 0%;
        margin: 0%;
        background-color: none;
      }
    }
  }
}
/* tablet  */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  .body {
    /* background-color: wheat; */
  }
}

/* laptop  */
@media screen and (min-width: 1024px) {
  .body {
    /* background-color: yellowgreen; */
  }
}
